<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Information</title>
</head>
<body>
    <h2> Add information</h2>
    <form action="/add_information/" method="post" enctype="multipart/form-data">{% csrf_token %}

    <h4 for="info_title">Title: </h4>
    <input id="info_title" type="text" name="info_title" value="{{ info_title }}">
    <br>

    <h4 for="note">Enter a note: </h4>
    <textarea id="note" type="text" name="note" value="{{ note }}"></textarea>
    <br>

    <h4 for="tags">Enter some tags: </h4>
    <input id="tags" type="text" name="tags" value="{{ tags }}">
    <br>

    <h4>Upload a picture:</h4>
    <input id="id_image" type="file" class="" name="image">
    <br>
    <br>
    <input type="submit" value="Add information">
    </form>
</body>
</html>