<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Identify Person</title>
</head>
<body>
    <h2>Identify Person</h2>
    <form action="/identify_person/" method="post" enctype="multipart/form-data">{% csrf_token %}
        <h4> Choose an image on your phone (*.jpeg, *.png): </h4>
        <input id="id_image" type="file" class="" name="image">
        <br>
        <h4> Choose a recording on your phone (*.wav): </h4>
        <input id="id_audio" type="file" class="" name="audio">
        <br> <br>
        <input type="submit" value="Identify">
    </form>
</body>
</html>
