<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
  <div class="container">
  <div class="box">
      <button type="button" onclick=location.href="add_person/">
              Add person
      </button>
  </div>
    <div class="box">
      <button type="button" onclick=location.href="add_information/">
              Add information
      </button>
  </div>
    <div class="box">
      <button type="button" onclick=location.href="identify_person/">
              Identify person
      </button>
  </div>
    <div class="box">
      <button type="button" onclick=location.href="search_tags/">
              Search information
      </button>
  </div>
  </div>
</body>
</html>