<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search information</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
</head>
<body>

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</section>

<section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <h2> Search information </h2>
    <form action="/search_tags/" method="post" enctype="multipart/form-data">{% csrf_token %}

    <h4 for="query">Ask me something: </h4>
    <input id="query" type="text" class="form-control"  name="query" value="{{ info_title }}">
    <br>

    <h4 for="tags">Search for tags: </h4>
    <input id="tags" type="text" class="form-control" name="tags" value="{{ info_title }}">
    <br>

    <h4>Upload a picture:</h4>
    <input id="id_image" type="file" class="btn section-btn smoothScroll" class="" name="image">
    <br>
    <br>
    <input type="submit" class="btn section-btn smoothScroll" value="Search">
    <br>
    <br>
    <button type="button" class="btn section-btn smoothScroll" onclick=location.href="/">
              Home
    </button>
    </form>
    </div>
</section>

<!-- SCRIPTS -->
    {% load static %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>