<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="5;url=/" />
    <title>Success</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
</head>
<body>
<section class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <h2>Success</h2>
      <button type="button" class="btn section-btn smoothScroll" onclick=location.href="/">
              Home
    </button>
  </div>
</section>
</body>
</html>